<h1> Welcome to Spotibetical!</h1>
<header>
  <%= form_tag("user", method: "get") do %>
  <%= text_field_tag(:query, params[:query], placeholder: "Look for a song!") %>
  <%= submit_tag("Search") %>
  <% end %>
</header>
<!-- <h3>Your search results...</h3>
<% if @query %>
  <ul>
    <% @query.each do |song| %>
    <% time = song.duration_ms%>
    <% seconds=(time/1000)%60 %>
    <% minutes=(time/(1000*60))%60 %>
      <li><%=song.name%>....<%= song.artists[0].name %>....<%= song.album.name %>...<%=minutes%>:<%=seconds%>| <%=link_to "Add" %></li>
    <% end %>
  </ul>
<% end %>
<% if @query && @query.length.zero? %>
  Sorry, no results found.
<% end %> -->
<h3> Your search results! </h3>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3> Your search results </h3>
      <table>
        <thead>
          <tr>
            <th>SONG</th>
            <th>ARTIST</th>
            <th>ALBUM</th>
            <th>TIME</th>
          </tr>
        </thead>
        <tbody>
          <% if @query %>
            <% @query.each do |song| %>
            <% time = song.duration_ms%>
            <% seconds=(time/1000)%60 %>
            <% if seconds < 10 %>
              <% seconds = '0'+seconds.to_s %>
            <% end %>
            <% minutes=(time/(1000*60))%60 %>
            <tr>
              <td><%=song.name%></td>
              <td><%= song.artists[0].name %></td>
              <td><%= song.album.name %></td>
              <td><%=minutes%>:<%=seconds%></td>
              <td class="col-md-2"> <%= link_to "Add" %></td>
            </tr>
            <% end %>
          <%end%>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <h3> Vote for songs here! </h3>
    </div>
  </div>
</div>
